
<header>
  <nav style="width: 100%; text-align: center;">
      <% if (typeof documenttitle !== "undefined") { %>
      <h1 align="center"><%= documenttitle %></h1>
      <% } else if (typeof title !== "undefined") { %>
      <h1 align="center"><%= title %></h1>
      <% } %>
      <p><a href="http://akashacms.com/">AkashaCMS</a>
          | <a href="/index.html">Home</a>
          | <a href="/video.html">Video</a>
          | <a href="/slideshare.html">Slideshare</a>
          | <a href="/facebook-embed.html">Facebook</a>
          | <a href="/twitter-embed.html">Twitter Embed</a>
          | <a href="/affiliate.html">Affiliate Products</a>
          | <a href="/footnotes.html">Footnotes</a>
          | <a href="/syncpartial.html">Synchronous code</a>
          | <a href="/markdown.html">Markdown</a>
          | <a href="/mahabhuta.html">Mahabhuta</a>
          | <a href="/external-links.html">External Links</a>
          | <a href="/empty-tags.html">Empty Links</a>
          | <a href="/json-data0.html">JSON Data</a>
          | <a href="/google-docs-viewer/index.html">Google Docs Viewer</a>
          | <a href="/viewer-js-viewer/index.html">Viewer.js Viewer</a>
          | <a href="/folder/index.html">Tree-oriented page index</a></p>
  </nav>
</header>
