
<header>
  <nav style="width: 100%; text-align: center;">
      <% if (typeof documenttitle !== "undefined") { %>
      <h1 align="center"><%= documenttitle %></h1>
      <% } else if (typeof title !== "undefined") { %>
      <h1 align="center"><%= title %></h1>
      <% } %>
      <!-- <p align="center">header area</p> -->
      <p><a href="http://akashacms.com/">AkashaCMS</a> | <a href="/index.html">Home</a> | <a href="/video.html">Video Example (asynchronous)</a> | <a href="/syncpartial.html">Synchronous code example</a> | <a href="/markdown.html">Markdown</a> | <a href="/mahabhuta.html">Mahabhuta</a> | <a href="/folder/index.html">Tree-oriented page index</a> | <a href="/twitter-embed.html">Twitter Embed</a></p>
  </nav>
</header>
