
<ul>
    <%
    // console.log('LISTRENDER GOT '+ partialBody);
    // var items = JSON.parse(partialBody).items;
    // for (item in items) {
    //    % ><li>< %= item % >: < %= items[item] % ></li>< %
    //}
    %>
    <li>
        <pre>
            <%- partialBody %>
        </pre>
    </li>
</ul>
