[submodule "modules/akashacms-external-links"]
	path = modules/akashacms-external-links
	url = https://github.com/akashacms/akashacms-external-links.git
[submodule "modules/akashacms-tagged-content"]
	path = modules/akashacms-tagged-content
	url = https://github.com/akashacms/akashacms-tagged-content.git
	branch = master
[submodule "modules/akashacms-theme-bootstrap"]
	path = modules/akashacms-theme-bootstrap
	url = https://github.com/akashacms/akashacms-theme-bootstrap.git
	branch = master
[submodule "modules/akashacms-plugin-authors"]
	path = modules/akashacms-plugin-authors
	url = https://github.com/akashacms/akashacms-plugin-authors.git
[submodule "modules/akashacms-footnotes"]
	path = modules/akashacms-footnotes
	url = https://github.com/akashacms/akashacms-footnotes.git
[submodule "modules/akashacms-embeddables"]
	path = modules/akashacms-embeddables
	url = https://github.com/akashacms/akashacms-embeddables.git
	branch = master
[submodule "modules/akashacms-breadcrumbs"]
	path = modules/akashacms-breadcrumbs
	url = https://github.com/akashacms/akashacms-breadcrumbs.git
[submodule "modules/akashacms-booknav"]
	path = modules/akashacms-booknav
	url = https://github.com/akashacms/akashacms-booknav.git
[submodule "modules/akashacms-base"]
	path = modules/akashacms-base
	url = https://github.com/akashacms/akashacms-base.git
	branch = master
[submodule "modules/akashacms-affiliates"]
	path = modules/akashacms-affiliates
	url = https://github.com/akashacms/akashacms-affiliates.git
[submodule "modules/akashacms-dlassets"]
	path = modules/akashacms-dlassets
	url = https://github.com/akashacms/akashacms-dlassets.git
[submodule "modules/akashacms-document-viewers"]
	path = modules/akashacms-document-viewers
	url = https://github.com/akashacms/akashacms-document-viewers.git
[submodule "modules/epub-website"]
	path = modules/epub-website
	url = https://github.com/akashacms/epub-website.git
	branch = master
[submodule "modules/akasharender"]
	path = modules/akasharender
	url = https://github.com/akashacms/akasharender.git
	branch = master
