---
layout: boot_page.html
---

<partial file-name="headernav.html.ejs" <%
	if (typeof documenttitle !== "undefined") {
		%> documenttitle="<%= documenttitle %>" <%
	} else if (typeof title !== "undefined") {
		%> title="<%= title %>" <%
	} %>></partial>

<div class="container" role="main">
<div class="row">
<!--<section id="left" class="col_1 clearleft">
</section> -->
<!-- include our document's content -->
<article class="col_10"><ak-insert-body-content/></article>
<!-- <section id="right" class="col_1 omega">
right sidebar
</section> -->
</div>
</div>


<footer>
<!-- footer -->
</footer>
